.tag-form
  .tag_index.show
    = @tag.tag_name
.more_show
  %span= image_tag '/arrow_top.png'
  - if user_signed_in? && current_user.id == @tweet.user_id
    %ul.more_list_show
      %li
        = link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get
      %li 
        = link_to '削除', "/tweets/#{@tweet.id}", method: :delete
%span.name_show 
  .more_show__fav 
    - if user_signed_in?
      - if @tweet.favorited_by?(current_user)
        -# ログインしているユーザーがファボしたかどうかで分岐
        = link_to tweet_favorites_path(@tweet.id), method: :delete, class: "fav" do
          %i.fas.fa-heart.unlike-btn
          = @tweet.favorites.count
      - else
        = link_to tweet_favorites_path(@tweet.id), method: :post, class: "fav" do
          %i.fas.fa-heart.like-btn
          = @tweet.favorites.count
  %a{:href => "/users/#{@tweet.user.id}"}
    = @tweet.user.name

%p.left_low_box__font
  = @tweet.text

.left_low_box-down
  = "today:#{@tweet.time}h"
  - if user_signed_in? && current_user.id == @tweet.user_id
    .left_low_box-down--low
      %a.twitter-share-button{"data-hashtags" => "20Hours 本日の学習", "data-lang" => "ja", "data-show-count" => "false", "data-text" => "#{@tag.tag_name}を#{@tweet.time}時間取り組みました。", :href => "https://twitter.com/share?ref_src=twsrc%5Etfw"} Tweet
      %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
