.contents_show.row
  - if @tweet.image.present?
    .content_post_show.wow.bounce{:style => "background-image: url(#{@tweet.image});"}
      = render 'show'
  - else
    .content_post_show.wow.bounce{:style => "background-image: url(/coffee.jpg);"}
      = render 'show'

  .container
    - if current_user
      = form_with(model: [@tweet, @comment], local: true, id: "new_comment") do |form|
        = form.text_area :text, placeholder: "コメントする", rows: "2", class: "textbox"
        = form.submit "SEND", class: "form__submit"
    - else
      %strong
        %p ***コメントの投稿には新規登録/ログインが必要です。***

    .comments
      %h4 <コメント一覧>
      - if @comments
        - @comments.each do |comment|
          %p
            %strong
              = link_to comment.user.name, "/users/#{comment.user_id}"
              = comment.text

