.contents.row.initial
  .user_page
    %p= "#{@name}さんのスキル一覧"
  .select_follow
    - if current_user != @user
      - if @user.followed_by?(current_user)
        %p= link_to "フォロー済み", user_relationships_path(@user.id), method: :delete
      - else
        %p= link_to "フォローする", user_relationships_path(@user.id), method: :post

.contents.row
  .cp_tab
    %input#tab1_1{"aria-controls" => "first_tab01", :checked => "checked", :name => "cp_tab", :type => "radio"}/
    %label{:for => "tab1_1"} 自分の投稿
    %input#tab1_2{"aria-controls" => "second_tab01", :name => "cp_tab", :type => "radio"}/
    %label{:for => "tab1_2"} お気に入り
    %input#tab1_3{"aria-controls" => "third_tab01", :name => "cp_tab", :type => "radio"}/
    %label{:for => "tab1_3"} フォロー
    %input#tab1_4{"aria-controls" => "force_tab01", :name => "cp_tab", :type => "radio"}/
    %label{:for => "tab1_4"} フォロワー
    .cp_tabpanels
      -# 自分の投稿
      #first_tab01.cp_tabpanel
        //円グラフ
        %ul.progress
          - @pietimes.each do |key, value|
            - if value < 20
              %li{"data-name" => "#{key}", "data-percent" => "#{value * 100 / 20} %"}
                = render "pietimes"
                %svg{:viewbox => "-10 -10 220 220"}
                  %path{:d => "M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z", "stroke-dashoffset" => "#{ 629 * value / 20 }"}
            - else
              %li{"data-name" => "#{key}", "data-percent" => "Success!"}
                = render 'pietimes'
                %svg{:viewbox => "-10 -10 220 220"}
                  %path{:d => "M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z", "stroke-dashoffset" => "629"}
        / Defining Angle Gradient Colors
        = render 'colors'

        %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.bundle.min.js", :type => "text/javascript"}
        .container-show
          %canvas#canvas{:height => "410px", :width => "615px"}
        :javascript
          window.onload = function() {
              ctx = document.getElementById("canvas").getContext("2d");
              window.myBar = new Chart(ctx, {
                  type: 'bar',
                  data: barChartData,
                  options: complexChartOption
              });
          };
        :javascript
          var barChartData = {
              labels: #{@mytimes_date.to_json.html_safe},
              datasets: [
              {
                  type: 'bar',
                  label: 'Time',
                  fontColor: "＃FFF",
                  data: #{@mytimes_hour},
                  borderColor : "rgba(54,164,235,0.8)",
                  backgroundColor : "rgba(54,164,235,0.5)",
                  yAxisID: "y-axis-2",
              },
              {
                  type: 'line',
                  label: 'Total time',
                  fontColor: "＃FFF",
                  data: #{@sums},
                  borderColor : "rgba(254,97,132,0.8)",
                  pointBackgroundColor    : "rgba(254,97,132,0.8)",
                  fill: false,
                  yAxisID: "y-axis-1",// 追加
              },
              ], //dataset 
          }; //barChartData
        :javascript
          var complexChartOption = {
              title: {
              display: true,
              text: '学習時間の可視化',
              fontColor: "#FFF",
              fontSize: 12
              },
              responsive: true,
              
              scales: {
                xAxes: [{   
                    scaleLabel: {
                      display: true,
                      labelString: 'date', 
                      fontColor: "＃FFF",
                      fontFamily: "sans-serif",
                      fontSize: 12
                    },
                    ticks: {
                          fontColor: "#FFF",
                          fontSize: 12,
                          beginAtZero: true,
                          max: 5,
                      },
                }],
                  yAxes: [{
                      id: "y-axis-1",
                      type: "linear", 
                      position: "right",
                      scaleLabel: {
                      display: true,
                      labelString: 'Toal time(h)',
                      fontFamily: "sans-serif",
                      fontColor: "＃FFF",
                      fontFamily: "sans-serif",
                      fontSize: 12
                      },
                      ticks: {
                          max: 100,
                          min: 0,
                          stepSize: 10,
                          fontColor: "#FFF",
                          fontSize: 12
                      },
                  }, {
                      id: "y-axis-2",
                      type: "linear", 
                      position: "left",
                      scaleLabel: {
                      display: true,
                      labelString: 'Time(h)',
                      fontFamily: "sans-serif",
                      fontColor: "＃FFF",
                      fontFamily: "sans-serif",
                      fontSize: 12
                      },
                      ticks: {
                          max: 20,
                          min: 0,
                          stepSize: 2,
                          fontColor: "#FFF",
                          fontSize: 12
                      },
                      gridLines: {
                          drawOnChartArea: false, 
                      },
                  }],
              },
          };

      -# お気に入り
      #second_tab01.cp_tabpanel
        - @favorite_tweets.zip(@times).each do |favorite,time| 
          .content_post-user{:style => "background-image: url(#{favorite.image});"}
            .my_tag
              = favorite.tag.tag_name
            .more
              %span= image_tag '/arrow_top.png'
              %ul.more_list
                %li
                  = link_to '詳細', "/tweets/#{favorite.id}", method: :get
                - if user_signed_in? && current_user.id == favorite.user_id
                  %li
                    = link_to '編集', "/tweets/#{favorite.id}/edit", method: :get
                  %li 
                    = link_to '削除', "/tweets/#{favorite.id}", method: :delete
            %br
            .last_time
              = time[1] 
              h 
            %br
            .last_bar
              20h
            %span.name 
              %a{:href => "/users/#{favorite.user.id}"}
                = favorite.user.name
      -# フォロー
      #third_tab01.cp_tabpanel
        - @fallow_users.each do |user|
          
          %p
            %span Name:
            = link_to "#{user.name}さん", user_path(user.id)
          - if current_user != user
            - if user.followed_by?(current_user)
              %p= link_to "フォロー済み", user_relationships_path(user.id), method: :delete
            - else
              %p= link_to "フォローする", user_relationships_path(user.id), method: :post
          %hr/
      -# フォロワー
      #force_tab01.cp_tabpanel
        - @follower_users.each do |user|
          %p
            %span Name:
            = link_to "#{user.name}さん", user_path(user.id)
          - if current_user != user
            - if user.followed_by?(current_user)
              %p= link_to "フォロー済み", user_relationships_path(user.id), method: :delete
            - else
              %p= link_to "フォローする", user_relationships_path(user.id), method: :post
          %hr/


